body {
  background-color: #f0f0f0;
  font-family: sans-serif;
}

table {
  margin-left: 150px;
}

.title {
color: rgb(36, 27, 27);
font-size: 20px;
font-weight: bold;
}

.card {
  box-shadow: 5px 10px 20px 10px #e0e0e0;
  border: 1px solid gray;
  height: 400px;
}

.header {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid gray;
}

.card-data {
  font-size: medium;
  margin: 10px;
  margin-top: 20px;
  float: left;
  margin-right: auto;
}

.categoria {
color : gray;
font-weight: bold;
margin-left: 25px;


}

.valore {
font-weight: bold;
margin-left: 25px;

}

.bottone {
  display: block;
}
































.menu {
  display: block;
  margin-top: 1rem;
}

.menu .item {
  display: inline-block;
}
.menu .item a {
  color: #333333;
  font-size: 2rem;
  text-decoration: none;
}

.sidebar {
  height: 100%;
  width: 150px;
  position: -webkit-sticky; /* for Safari users */
  position: fixed;
  top: 0px;
  float: left;
  margin-top: 52px;
  padding-top: 40px;
  background-color:white;
  
  }
  
  .sidebar span {
  padding: 8px;
  font-size: 24px;
  display: block;
  }
  .logo {
      height: 90px;
      width: 150px;
      margin-left: 0px;
      background-color: yellow;
      position: fixed;
  }
  .logo span {
      padding: 8px;
  font-size: 24px;
  display: block;
  }